<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333;
      }
      p {
        color: #666;
        line-height: 1.6;
      }
      .status {
        font-weight: bold;
        color: #007bff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Product Status Update</h1>
      <p>Hello,</p>
      <p>Your product status has been updated:</p>
      <p><span class="status">Status:</span> <%= productStatus %></p>
      <p>Here are the details:</p>
      <ul>
        <li><strong>Order Id:</strong> <%= orderNumber %></li>
        <li><strong>Link:</strong> <a href="<%" ="link" %>><%= link %></a></li>
      </ul>
      <p>
        If you have any questions or need further assistance, please don't
        hesitate to contact our customer support team.
      </p>
      <p>Thank you for choosing our product!</p>
      <p>Best regards,</p>
      <p>Eagle Eye Worldwide</p>
    </div>
  </body>
</html>
