@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  background-color: #f7f8fa;
  min-height: 100vh;
  min-height: 100dvh;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::selection {
  background-color: #e47e52;
  color: #fff;
}

::-moz-selection {
  background-color: #e47e52;
  color: #fff;
}

main {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.15s ease-in;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  height: 320px;
}

.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  margin-top: 10px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:first-child {
  border: 4px solid #0b1c48;
  border-radius: 12px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  outline: none;
  border: 4px solid #e47e52;
  border-radius: 12px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 8px;
  height: 60px;
  width: 100px;
  object-fit: cover;
}

.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 5px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: rgba(100, 116, 139, 0.5) !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 2px #0b1c48 solid !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  height: 52px !important;
  padding-left: 14px !important;
}
